.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 126, 120) 1% , rgb(0, 198, 189) 80%);
background: -o-linear-gradient(left , rgb(0, 126, 120) 1% , rgb(0, 198, 189) 80%);
background: -ms-linear-gradient(left , rgb(0, 126, 120) 1% , rgb(0, 198, 189) 80%);
background: -moz-linear-gradient(left , rgb(0, 126, 120) 1% , rgb(0, 198, 189) 80%);
background: -webkit-linear-gradient(left , rgb(0, 126, 120) 1% , rgb(0, 198, 189) 80%);






}